@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

:root
{
    --backGround: linear-gradient(to right, rgb(252, 231, 192), rgb(214, 171, 245), 
    rgb(248, 248, 179));
    --fontStyle: Lora;
}

.serMain
{
    box-shadow: 0 0 0 1px rgb(48, 49, 49);
    border-radius: 40px 0px 0px 40px;
    margin-left: 10%;
    background-image: var(--backGround);
    padding-bottom: 30%;
    box-sizing: border-box;
    margin-top: 10%;
    margin-bottom: 8%;
}

.left-ser
{
    height: 30rem;
    /* background-color: black;  */
    margin-top: 2%;
    float: left;
    width: 44.5%;
}

.right-ser
{ 
    margin-right: 1%;
    float: right;
    width: 41%;
    padding-bottom: 8%;
    margin-left: 5%;
}

.Svg text
{
    letter-spacing: 5.5px; 
    font-size: 110px;
    font-weight: 900;
    text-align: center;
    font-family: var(--fontStyle);
    stroke: hsl(40, 91%, 79%);
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
}

.Svg text:last-child
{
    margin-top: 65rem;
    letter-spacing: 5.5px; 
    font-size: 110px;
    font-weight: 900;
    text-align: center;
    font-family: var(--fontStyle);
    stroke:  hsl(40, 91%, 79%);
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;   
}
