
/*-------------------------------RUNNING LINE------------------------*/
:root
{
    --textColor: rgb(255, 223, 40);
}
.runningLine
{
    text-align: center;
}

.f, .s 
{
    font-size:32px;
    display:inline-block;
    white-space:nowrap;
    padding-top:15vh;
    height:20vh;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
}

.f 
{
    color: var(--textColor);
    font-family:'Roboto';
    animation: showup 9s infinite;
}

.s
{
    color: rgb(255, 233, 111);
    animation: reveal 9s infinite;
}

.s span 
{
    animation: slidein 9s infinite;
}

@keyframes showup 
{
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein 
{
    0% 
    { 
        margin-left:-800px; 
    }
    20% 
    { 
        margin-left:-500px;
        opacity: 10; 
    }
    35% 
    { 
        margin-left:0px; 
    }
    100% 
    { 
        margin-left:0px; 
    }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:955px;}
    80% {opacity:1;}
    100% {opacity:0;width:800px;}
}
