
/* ---------------------------------Slideshow container -----------------------*/

.slideshow-containe
{
    max-width: 75%;
    height: 5%;
    margin: auto;
    position: relative;
}

.mySlides > img
{
    height: 500px;
    vertical-align: middle;
    margin-top: 0%;
}

/*------------------------------------- Caption text ---------------------------------*/

.txt
{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/5 etc) */
.numbertext
{
    color: white;
    font-size: 25px;
    padding: 0px 12px;
    position: absolute;
    bottom: 90%;
    right: 72%;
    text-align: center;
    width: 50%;
    
}

/* The dots/bullets/indicators */
.dot-btn
{
    margin-top: 25px;
}

.dot 
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


  /* Fading animation */

.active, .dot:hover 
{
    background-color: #717171;
}

.fade 
{
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade 
{
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) 
{
    .prev, .next,.text 
    {
        font-size: 11px
    }
}















