*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.nav
{
    text-align: center;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(224, 224, 223);
}

.nav > p
{
    color: black;
    font-size: 480%;
    font-family: 'Zen Antique Soft', serif;
    display: inline;
}

.nav-bottom > div
{
    float: left;
    margin-left: 11%;
    margin-top: 3%;
    display: flexbox;
    padding: 7px 25px;
}

.nav-bottom div > a
{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

a.left
{
    position: relative;
}

a.left:before 
{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: blue;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before 
{
    visibility: visible;
    width: 100%;
}

/*---------------------------------------MIDDLE----------------------------------*/
a.middle
{
    position: relative;    
}

a.middle::before
{
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    background-color: green;
}

a.middle:hover:before 
{
    visibility: visible;
    transform: scaleX(1);
}


a.middle_1
{
    position: relative;    
}

a.middle_1::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    background-color: crimson;
}

a.middle_1:hover:before 
{
    visibility: visible;
    transform: scaleX(1);
}


/*------------------------RIGHT-------------------------------------*/
a.right
{
    position: relative;
}

a.right::before
{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    right: 0;
    background-color: goldenrod;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.right:hover::before
{
    visibility: visible;
    width: 100%;
}



/*--------------------------------Three Image--------------------------------*/

.three-picture {
    display: flex;
    justify-content: center;
}
.three-picture > div
{
    margin-top: 2.4rem;
    width: 330px;
    margin: 4%;
    padding-left: 25px;
}

.three-picture > div > img
{
    height: 500px;
    width: 100%;
    margin-top: 300px;
}

.three-picture > div > img:hover
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.4ms;
    border-left: 10px solid tomato;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@keyframes example 
{
    0%   {border-left: 2px solid #ffffff;}
    25%  {border-left: 3px solid #ffe6e6;}
    50%  {border-left: 4px solid #ff8080;}
    100% {border-left: 5px solid tomato}
}


/*----------------------------------BRAND SECTION--------------------------------------*/
.text .aB
{
    color: red;
    text-align: center;
    font-size: 70px;
    margin-top: 2.4rem;
}

.tech .brand:hover {
	transform: translateY(-15px);
	transition: transform 0.2s ease-in;
}

.brand_section
{
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 48%;
    padding-right: 5%;
    padding-left: 5%;
    border: 5px solid black;
}


.brand > img
{
    background-color: rgb(209, 206, 206);
    margin: 5%;
    float: left;
    width: 90px;
    height: 90px;
    border: 5px solid green;
}

.brand_1 > img
{
    float: right;
    width: 10px;
    height: 10px;
}

.brand_3 > img
{
    float: right;
    width: 10px;
    height: 10px;
}

.brand_2 > img
{
    float: right;
    width: 10px;
    height: 10px;
}

.brand_4 > img
{
    float: right;
    width: 10px;
    height: 10px;
}


