@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

:root 
{
    /* --backgroundColorLight: linear-gradient(to bottom, #f1f7fa 0%, #eebed6a1 100%); */
    --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --primaryBgColor: #f0f1f2;
    --secondaryBgColor: #f9f9f9;
    --backgroundColor: #dadbdc;
    --accentColor: #94d2bd;
    --accentColor2: #0a9396;
    --headingColor: #005f73;
    --textColor: #001219;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body 
{
    background-image: url("Image/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

header 
{
    background-color: rgb(220, 241, 235);
    padding: 0 1.2rem;
    max-height: 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
  
nav 
{
    margin: auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 1.2rem;
}
  
div.logo 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
    margin-right: 1.8rem;
}
  
.logo img 
{
    width: 3rem;
    margin-right: 0.8rem;
    color: var(--headingColor);
}
  
.company-name 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
  
.company-name div 
{
    font-size: 1.2rem;
    color: var(--headingColor);
    margin: -0.2rem;
    cursor: pointer;
}

/* ----------------SEARCH AREA-------------------- */

.search
{
    height: 2.5rem;
    width: 10rem;
    color: black;
    text-align: center;
    font-size: .7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(241, 239, 236);
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.searchButton
{
    margin-left: 1px;
    height: 2rem;
    width: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.searchButton:hover
{
    background-color: rgb(24, 23, 23);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
    font-size: 1rem;
    text-align: center;
    border: 1px solid white;
}

ul.horizontal-list 
{
    flex: 2;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    gap: 3rem;
}
  
.horizontal-list li 
{
    display: block;
    cursor: pointer;
}
  
.horizontal-list li a 
{
    text-decoration: none;
    color: var(--headingColor);
    font-size: 1.25rem;
}
  
.horizontal-list li a:hover
{
    font-family: 'The Nautigal', cursive;
    color: black;
    text-shadow: var(--secondaryBgColor);
    font-size: 3rem;
}


div.profile 
{
    max-width: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--backgroundColor);
    border-radius: 2rem;
    padding: 0.25rem;
}
  
.profile .profile-pic 
{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--backgroundColor);
    margin-right: 0.5rem;
}
  
.profile-pic img 
{
    border: 4px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}
  
.profile-name 
{
    font-size: 1.25rem;
    color: var(--headingColor);
}

.nav
{
    text-align: center;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(224, 224, 223);
}

.nav > p
{
    color: black;
    font-size: 480%;
    font-family: 'Zen Antique Soft', serif;
    display: inline;
}

.nav-bottom > div
{
    float: left;
    margin-left: 11%;
    margin-top: 3%;
    display: flexbox;
    padding: 7px 25px;
}

.nav-bottom div > a
{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

a.left
{
    position: relative;
}

a.left:before 
{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: blue;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before 
{
    visibility: visible;
    width: 100%;
}


/* --------------------------------------ROTATE LINE-------------------------- */
.rotate
{
    margin-top: 10%;
    transform: rotate(2deg);
    background-color: aqua;
}

/* ------------------------------------LIGHT LINE--------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.light
{
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Secular One', sans-serif;
  letter-spacing: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light_line
{
  transition: .9s linear
}

.light:hover .light_line
{
  color: #fff;
  text-shadow: 0 0 10px rgb(253, 228, 82),
               0 0 20px rgb(253, 228, 82), 
               0 0 40px rgb(253, 228, 82);
}


