@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');


.success_ratio
{
    text-align: center;
    font-size: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: 'Red Hat Display', sans-serif;
    background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 10s ease 500ms forwards;
}


@keyframes zoomout 
{
    from
    {
        background-size: 40%;
    }
    to 
    {
        background-size: 10%;
    }
}

